/* .container * :hover{
    background-color: red;
} */

/* .item-product :hover{
    background-color: blue;
} */

/* .icon :hover{
    background-color: rgb(201, 1, 1);
} */

.item {
    width: 100%;
    display: flex;
    margin: var(--small-margin);
    font-size: var(--primary-size);
}

.payment-method .payment-selected{
    background-color: blue;
}

.payment-method img{
    width: calc(var(--short-width) * 2);
    height: calc(var(--short-width) * 1.7);
    padding: 0 var(--extra-small-padding);
    margin: 0;
}


/* .trash {
    width: auto;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}
.trash *{
    width: auto;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
} */


/* .master-cart {
    color: rgb(147, 71, 5);
} */

/* .page {
    background-image: url('https://static.vecteezy.com/system/resources/previews/003/461/898/large_2x/shopping-cart-with-yellow-background-free-photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

@media (max-width: 500px) {

    .item {
        font-size: var(--small-size);
    }

    .payment-method img{
        width: calc(var(--short-width) * 1.4);
        height: calc(var(--short-width) * 1);
    }

    .input-text {
        height: calc(var(--primary-height) / 1.5);
        width: 90%;
    }

}

@media ((min-width: 500px) and (max-width: 800px )) {
    .item {
        font-size: var(--medium-size);
    }

    .input-text {
        height: calc(var(--primary-height) / 1.2);
    }
}

@media ((min-width: 800px) and (max-width: 1000px )) {
    .item {
        font-size: var(--small-size);
    }
    .payment-method img{
        width: calc(var(--short-width) * 1.4);
        height: calc(var(--short-width) * 1);
    }

    .input-text {
        height: calc(var(--primary-height) / 1.5);
        width: 90%;
    }
}

@media (min-width: 1000px) {

    .input-text {
        height: var(--primary-height);
        width: 100%;
    }

}
