/* .container * :hover{
    background-color: red;
} */

/* .item-product :hover{
    background-color: blue;
} */

/* .icon :hover{
    background-color: rgb(201, 1, 1);
} */

.item {
    width: 100%;
    display: flex;
    margin: var(--small-margin);
    font-size: var(--primary-size);
}

.payment-method .payment-selected{
    background-color: blue;
}

/* .master-cart {
    color: rgb(147, 71, 5);
} */

@media (max-width: 500px) {
    .item {
        font-size: var(--small-size);
    }
}