/* .container * :hover{
    background-color: red;
} */

/* .item-product :hover{
    background-color: blue;
} */

/* .icon :hover{
    background-color: rgb(201, 1, 1);
} */

.item {
    width: 100%;
    display: flex;
    margin: var(--small-margin);

}
/* 
.payment-method *{
    margin: var(--small-margin);
}

.master-cart {
    color: rgb(147, 71, 5);
} */