
.item {
    flex: 1 1 30%;
    background-color: var(--white);
    border-radius: 20px;
    border: 0.02px solid var(--ashen-semi-transparent);
    font-weight: 100;
    color: var(--black);
    /* opacity: 0.7 */
}
.item input {
    background-color: var(--white);
    color: var(--black);

}

.item .logOut-btn {
    cursor: pointer;
    background-color: red;
}

.item .logOut-btn:hover{
    background-color: rgb(243, 34, 34);
}

@media (max-width: 800px) {

    .item {
        background-color: var(--white);
        border-radius: 20px;
        border: 0.02px solid var(--ashen-semi-transparent);
        font-weight: 100;
        /* opacity: 0.7; */
        flex: 1 1 100%;
        /* background-color: red; */
        width: 100px;
    }

}



