/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/pages/register/component/style.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.form {
    width: calc(var(--long-width) * 1.7);
    padding: var(--large-padding) var(--medium-padding);
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px var(--ashen) ;
}

.form .form-name {
    margin: var(--large-margin);
    color: var(--black);
}

.form .input:not(.remember-me){
    width: 90%;
    height: var(--primary-height);
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin: var(--small-margin) 0;
}

.form .input:not(.remember-me) input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--almost-white);
    outline: none;
    padding: var(--medium-padding);
    color: var(--black);
}
.form .input:not(.remember-me) input :focus {
    border: none;
}

.form .input-date::-webkit-calendar-picker-indicator {
    display: none;
}

.form .input:not(.remember-me) .icon{
    color: var(--black);
}


.form .remember-me {
    color: var(--black);
    padding: var(--large-padding) var(--medium-padding) var(--medium-padding) var(--large-padding) ;
}

.form .submate-btn {
    width: 90%;
    height: var(--primary-height);
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: var(--small-margin);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .submate-btn:active {
    background-color: blue;
    /* width: 15px; */
}

.form .submate-btn * {
    margin: var(--small-margin);
    color: white;
}

.form .switch-forms {
    width: 90%;
    font-size: var(--small-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--medium-margin);
    color: var(--black);
}
.form .switch-forms span {
    margin: 0 var(--small-margin);
    color: blue;
    cursor: pointer;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/sideBar/sideBarForComputers/CategoriesSelector/categorieSelector.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.parent{
    /* background-color: var(--white); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.parent-clicked{
    /* background-color: var(--primary-color); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.parent:hover{
    /* background-color: var(--primary-color); */
}
.parent *:hover{
    /* background-color: var(--primary-color); */
}
.child{
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.child:hover{
    background-color: var(--almost-white);
}
.child *:hover{
    /* background-color: var(--primary-color-clicked); */
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/sideBar/sideBarForPhones/CategoriesSelector/categorieSelector.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************/
.parent{
    /* background-color: var(--white); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.parent-clicked{
    /* background-color: var(--primary-color); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.parent:hover{
    /* background-color: var(--primary-color); */
}
.parent *:hover{
    /* background-color: var(--primary-color); */
}
.child{
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.child:hover{
    background-color: var(--almost-white);
}
.child *:hover{
    /* background-color: var(--primary-color-clicked); */
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/svg/icons/loading/loading.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container #loadingIcon {
    width: 15px;
    height: 15px;
    border: 1px solid var(--white-almost-transparnt);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
}

.container-of-loading-icon-hole-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-almost-transparnt);
}

.container-of-loading-icon-hole-page #loadingIcon {
    width: 30px;
    height: 30px;
    border: 5px solid var(--white-almost-transparnt);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
}



@keyframes simple-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/about/about.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/

#about-section {
    width: 100%;
    font-family: Arial, sans-serif;
    color: white;
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.5;
    padding: 50px;
    margin: 0;
    background-color: black;
    border-radius: 8px;
}

#about-section strong {
    font-weight: 200;
    /* color: var(--primary-color); */
}

#about-section h1 {
    font-size: 16px;
    font-weight: 200;
    /* color: var(--primary-color); */
    margin-bottom: 12px;
}

#about-section h2 {
    font-size: 13px;
    font-weight: calc(var(--font-weight-extra-bold)*1.2);
    color: white;
    margin-bottom: 10px;
}

#about-section ul {
    list-style-type: none;
    padding-left: 0;
}

#about-section ul li {
    margin: 8px 0;
}

#about-section a {
    color: blue;
    text-decoration: none;
}

#about-section a:hover {
    text-decoration: underline;
}

#about-section p {
    margin-bottom: 14px;
    font-size: 12px;
    color: var(--ashen);
}

.social-media *{
    margin: var(--extra-small-margin)
}


@media (max-width: 600px){

    
#about-section {
    width: 100%;
    font-family: Arial, sans-serif;
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    border-radius: 8px;

}

#about-section strong {
    font-weight: bold;
}

#about-section h1 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;

}

#about-section h2 {
    font-size: 10px;
    font-weight: calc(var(--font-weight-extra-bold)*2);
    margin-bottom: 10px;

}

#about-section ul {
    list-style-type: none;
    padding-left: 0;

}

#about-section ul li {
    margin: 8px 0;

}

#about-section a {
    color: blue;
    text-decoration: none;

}

#about-section a:hover {
    text-decoration: underline;
}

#about-section p {
    margin-bottom: 10px;
    font-size: 10px;
    color: var(--ashen);

}

.social-media *{
    margin: calc(var(--extra-small-margin)/2)
}


}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/banners/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.banner-not-exist{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--black-almost-transparnt);
    position: fixed;
    z-index: 998;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: -100vh;

}
.banner-exist{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--black-almost-transparnt);
    position: fixed;
    top: var(--header-height);
    z-index: 998;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--black);
}

.banner-exist .banner {
    width: calc(var(--long-width) *1.7);
    background-color: var(--white);
    box-shadow: 0 5px 15px var(--ashen);
    margin: var(--medium-margin);
    border-radius: 20px;
    padding: var(--medium-padding);
    transition: 0.5s ease;


}
.banner-exist .banner *{
    border-radius: 20px;
}

.banner-exist .header {
    width: 100%;
    height: var(--half-height);
    position: relative;
    display: flex;
    align-items: center;
}
.banner-exist .header .icon{
    position: absolute;
    right: 7px;
}

.banner-exist .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--large-padding);
}

.banner-exist .fa-ban{
    margin: 5px;
    color: red;
}
.banner-exist .fa-check{
    margin: 5px;
    color: green;
}

.banner-exist p{
    font-size: var(--medium-size);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-exist .verification-p{
    font-size: var(--medium-size);
}

@media (max-width: 800px) {

    .banner-exist{
        top: var(--header-height-for-phone);
    }
    .banner-exist p{
        font-size: var(--medium-size);
    }
    .banner-exist .verification-p{
        font-size: var(--medium-size);
    }
}
