/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Ahom&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* colors */
  --almost-white: rgb(243, 243, 243);
  --white: #ffffff;
  --black: #000000;
  --almost-black: rgb(22, 22, 22);
  --primary-color: #FF9B38;
  --primary-color-light: #FFD500;  
  --primary-color-dark: #B88A03;
  --primary-blue: #0066CC;
  --primary-blue-light: #3388FF;
  --primary-blue-dark: #004D99;
  --primary-green: #28A745;
  --secondary-orange: #FF7F32;
  --danger-red: #FF4136;

  /* background and text colors for dark mode */
  --background-light: #ffffff;
  --background-dark: #333333;
  --text-light: #000000;
  --text-dark: #ffffff;

  /* font family */
  --primary-font: 'Arial', sans-serif;
  --secondary-font: 'Courier New', monospace;

  /* sizes */
  --primary-size: 16px;
  --small-size: calc(var(--primary-size)/1.5);
  --half-size: calc(var(--primary-size)/2);
  --double-size: calc(var(--primary-size)*2);
  --big-size: calc(var(--primary-size)*1.5);
  --biggest-size: 24px;
  --extra-small-size: 12px;

  /* borders */
  --border-radius: 50px;
  --border-color: #ccc;
  --border-width: 0.2px;

  /* opacity levels */
  --opacity-light: 0.8;
  --opacity-medium: 0.5;
  --opacity-dark: 0.2;

  /* margins */
  --small-margin: 5px;
  --medium-margin: calc(var(--small-margin)*2);
  --large-margin: calc(var(--medium-margin)*2);

  /* gradients */
  --gradient-primary: linear-gradient(45deg, #FFD500, #FF6F00);
  --gradient-blue: linear-gradient(45deg, #3388FF, #004D99);

  /* heights */
  --header-height: 75px;
  --primary-height: 50px;
  --double-height: calc(var(--primary-height)*2);
  --half-height: calc(var(--primary-height)/2);

  /* widths */
  --primary-width: 50px;
  --double-width: calc(var(--primary-width)*2);
  --long-width: calc(var(--double-width)*2);
  --extra-long-width: calc(var(--long-width)*2);
  --half-width: calc(var(--primary-width)/2);

}

*{
  box-sizing: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: 'Cairo', 'Nunito', sans-serif;
}

body{
  background-color: var(--almost-white);
}

svg {
  width: 20px;
  height: 20px;
  /* color: var(--black); */
}

.primary-border{
  border: var(--border-width) solid var(--border-color) ;
  border-radius: var(--border-radius);
}

.logo{
    max-width: var(--long-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr
}
.logo img{
    width: 25%;
    max-height: 100%;
    margin: var(--medium-margin);
    border-radius: 15px
}
.logo h1{
    width: '70%';
    max-height: '100%';
    font-size: var(--big-size);
}


#app {
  background-color: var(--white);
}
#app *{
  transition: color 0.5s, background-color 0.5s;
}
#app p, #app h1, #app h2, #app button, #app a {
  background-color: var(--white);
  color: var(--black);
}
#app.dark-mode {
  background-color: var(--black);
}
#app.dark-mode p, #app.dark-mode h1, #app.dark-mode h2, #app.dark-mode button, #app.dark-mode a {
  background-color: var(--black);
  color: var(--white);
}
